@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");

:root {
  --color-main: #1677ff;
  --color-gray: #808080;
}

* {
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  white-space: normal !important;
}

body {
  margin: 0;
}

.app {
  min-height: 100vh !important;

  /* to push footer to end */
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

// .ant-typography mark {
//   padding: .1rem;
// }
