@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root {
  --color-main: #1677ff;
  --color-gray: #808080;
}

* {
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  white-space: normal !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh !important;

  /* to push footer to end */
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ant-typography mark {
  padding: .1rem;
}


/* Dark mode */
/* :root {
  --theme-main: hsl(240 10% 3.9%);
  --theme-second: #ddd;
  --theme-border: hsl(240 3.7% 15.9%);
}

.App {
  color: var(--theme-second);
  background-color: var(--theme-main);
}

.ant-list-header,
.ant-list-item {
  color: var(--theme-second) !important;

}

.ant-list-split .ant-list-item,
.ant-list-split .ant-list-header {
  border-block-end: 1px solid rgba(251, 251, 251, 0.335);
}

.ant-card,
.ant-card-head .ant-card-head-wrapper,
.ant-btn,
.ant-btn:hover,
.ant-layout-footer,
.ant-input-affix-wrapper,
.ant-input-affix-wrapper input::placeholder {
  background: var(--theme-main);
  background-color: var(--theme-main);
  color: var(--theme-second);
}


.ant-btn-dashed:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: var(--theme-main);

}

.ant-layout-footer {
  border-top: var(--theme-border) 1px solid;
}

.ant-card {
  border: var(--theme-border) 1px solid;
}
*/
/* .ck-content * {
  color: var(--theme-second) !important;
  background-color: var(--theme-main) !important;
}  */