.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  // & textarea {
  //   direction: ${(a) => (a.$direction ? "rtl" : "ltr")} !important;
  // }

  display: grid;
  gap: 1rem;

  & .contentBox {
    justify-self: baseline;
    white-space: break-spaces !important;
  }
}
